:root{
    --ff-tittle: "Dela Gothic One", sans-serif;
    --ff-text: "Rubik", sans-serif;

    --color-black: #1c1c1c;
    --color-white: #ffffff;
    --color-gray: #7b7b7b4a;
    --color-red: #e50914;
    --color-primary: #14213d;
    --color-contrast: #fca311;

    --font-size-tittle: 2.5rem;
}
*{
    box-sizing: border-box;
    min-width: 0;
}
body{
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--ff-text);
    min-height: 100dvh;
}
h1, h2, h3{
    font-family: var(--ff-tittle);
    text-wrap: balance;
    color: var(--color-primary);
}
p{
    text-wrap: pretty;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}